*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
   width: 1000px;    
   margin: 0 auto;
   background: url("fundo-11.jpg");
   background-size:20%;
   background-position-y:88%;
   
   
}

header {
    background:linear-gradient( rgb(19, 19, 19) 4%, rgb(204, 204, 17),
    rgb(19, 19, 19)96% ) ;
    text-align: center;
    border: black solid 2px;
    border-radius: 6px;
}

main {
    background: #181818;
    border-radius: 10px;
}

main p {
    color:#FFFFFF;
}

section {
    margin: 0 auto 8px;
    text-align: center;
    padding: 15px 0 20px;
    
}
.logo {
    width: 230px;
    text-align: center;
    transition: 1s;
    transition: 1s;
    opacity: 0.8
}

.logo:hover {
    width: 260px;
    opacity: 1.1
}

     /*    BODY     */


.parte-1 {
   margin: 5px 8px;
}
.img {
    width: 300px;
    float: left;
    margin: 15px 15px 2px;
    border: 2px solid rgb(94, 61, 1);
    border-radius: 5px;
    
}

.parte-1 h2 {
    display: inline-block;
  padding: 20px 0 ;
  margin: 0 auto;
  color: rgb(226, 226, 31);
  text-decoration: underline;
  font-size: 28px;
  
  
}

.parte-1 p {
    margin: 2px 5px ;
}


.parte-2 {
    margin: 5px 8px;
    clear: left;
}

.parte-2 h3{
    color: rgb(226, 226, 31);
    padding: 20px 0 ;
    margin: 0 auto;
    color: rgb(226, 226, 31);
    text-decoration: underline;
    font-size: 28px;
    text-align: center;
}

.img-2 {
    width: 300px;
    float: right;
    margin: 20px 10px 5px 5px;
    border: 2px solid rgba(204, 129, 32, 0.904);
    border-radius: 5px;
}

.parte-2 p {
    padding: 5px 5px ;
    margin: 5px 0;
}

        /*      MEIO       */
 
.img-3 {
    float: left;
    width:290px;
    height: 550px;
    border-radius: 10px;
    
}

.img-4 { 
    float: right;
    width: 290px;
    height: 550px;
    border-radius: 10px;
}      

.tabela {
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgb(226, 226, 31);
    width: calc(50% - 90px);
    padding: 10px 0;
    height: 530px;
    border-radius: 6px;

}       

.contato {
   
    color:#FFFFFF;
    width: 40%;
    margin: 0 auto;
}



form label {
    display: block;
    margin: 6px 0; 
   text-align: center;
   font-size: 18px;
   color: #FFFFFF;
   font-weight: bold;

}

form legend {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0;
    color: rgba(226, 226, 31,0.8);;

}

form input {
    width:calc(70% - 40px);
    padding: 5px 60px;
    margin: 5px 0 ;
    border: none;
    border-radius: 4px;
}

.area{
    display: block;
    margin: 15px auto 10px;
    background: #b3b3b3;
    border: none;
    border-radius: 5px;

}

.botao{
    margin: 4px 0 ;
    width: 45%;
    padding: 10px 0;
    font-size: 20px;
    transition: 1s;
    font-weight: bold;
}


.botao:hover{
    background: rgba(226, 226, 31,0.8);
    transform: scale(1.2);
    
}

     /*    RODAPÉ    */

footer {
    margin: 8px auto 0 ;
    background:linear-gradient( rgb(19, 19, 19) 3%, rgb(204, 204, 17),
    rgb(19, 19, 19)97% ) ;
    text-align: center;
    border: black solid 2px;
    border-radius: 5px;
    padding: 10px 0;
   
}
 
.rodape {
    width: 250px;
    transition: 1s;
    opacity: 0.8; 
} 

.rodape:hover{
    width: 270px;
    opacity: 1.1;
}

footer > p {
    font-size: 12px;
    margin: 0 0 10px;
    font-weight: bold;
}
